<footer>
<p>Made by Baldur Bjarnason: </p>
<ul>
<li><a href="https://baldurbjarnason.com/">Blog</a></li>
<li><a href="https://softwarecrisis.dev/">Newsletter</a></li>
<li><a href="https://toot.cafe/@baldur">Mastodon</a></li>
<li><a href="https://bsky.app/profile/baldurbjarnason.com">Bluesky</a></li>
<li><a href="https://www.linkedin.com/in/baldurbjarnason/">Linkedin</a></li>
</ul>
</footer>