<script type="importmap">
{
	"imports": {
		"@swc/wasm-web": "https://esm.sh/v135/@swc/wasm-web@1.5.11",
		"dompurify": "https://esm.sh/dompurify@3.1.4",
		"/src/swc.js": "/src/swc-web.js",
		"/src/escape.js": "/src/escape-web.js"
	}
}
</script>
<script type="module" src="/src/instant-results.js"></script>