<div class="Front-newsletter">
<h2>Don’t miss a thing</h2>
<p>If you find this site useful, you might want to either subscribe to my <a href="https://wwww.baldurbjarnason.com/">blog</a> or to my weekly newsletter. If you join the newsletter you’ll get a free PDF of <strong>three bonus essays</strong> from my book <em>Out of the Software Crisis.</em></p>
<div class="LetterForm">
  <form action="https://app.convertkit.com/forms/3922716/subscriptions" class="seva-form formkit-form" method="post" min-width="400 500 600 700 800">
    <div data-style="full">
      <div data-element="column" class="formkit-column">
        <div data-element="fields" class="seva-fields LetterForm-fields">
          <div class="LetterForm-field">
          <label for="newsletter-email">Email address</label>
            <input class="formkit-input" name="email_address" aria-label="Email Address" required="" type="email" id="newsletter-email">
          </div>
          <button data-element="submit" class="formkit-submit formkit-submit">
            <div class="formkit-spinner"></div>
            <span class="">Subscribe</span>
          </button>
          <p>Unsubscribe at any time.</p>
        </div>
      </div>
    </div>
  </form>
</div>
</div>