.Form {
  display: grid;
  max-inline-size: none;
  padding-block: var(--size-default) var(--size-medium);
  padding-inline: var(--size-medium);
  grid-template-columns: minmax(auto, var(--measure));
  gap: var(--size-smallish);
  background-color: var(--base-back);
  border-inline-start: var(--size-default) solid var(--yellow-border);
}

.Form > * {
}

.Form label {
  font-weight: 600;
  font-size: var(--size-default);
}

.Form-checkbox-text {
  font-style: italic;
  padding: 0.25rem;
  font-size: var(--size-xsmall);
}

input[type="checkbox"]:checked  + .Form-checkbox-text {
  background-color: var(--orange-back);
  border-block-end: 0.25rem var(--orange-border) solid;
}