.Result {
  padding-block: var(--size-default);
  padding-inline: var(--size-medium);
  background-color: var(--blue-back);
  border-inline-start: var(--size-default) solid var(--blue-border);
  position: relative;
}

.Result-heading {
  padding: 0;
  padding-block: var(--size-default);
  text-align: start;
  text-transform: uppercase;
  line-height: 0.85;
  font-size: var(--size-l3);
  font-weight: 900;
  border-block-end: 0.25rem solid var(--blue-border);
}

.Result-main {
  color: white;
  font-weight: 900;
  -webkit-text-stroke: 0.125rem black;
  text-shadow: 0.5rem 0.5rem var(--blue-border);
}

.Result-heading em {
  text-transform: none;
  font-style: normal;
  display: block;
  font-size: var(--size-small);
  font-weight: 100;
}


.Result-collection {
  justify-content: center;
}

.Result-nav {
  color: var(--link);
  padding: 0.45rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--blue-border);
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}
.Result-nav:hover {
  color: white;
  background-color: var(--link);
}