h2 {
  font-size: var(--size-l2);
  font-weight: 600;
  padding: 0;
  margin: 3.5rem 0 1rem;
  line-height: var(--line-height-narrow);
  text-align: start;
  text-wrap: balance;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}
