instant-kib {
  padding-block: var(--size-default);
  padding-inline: 0;
  position: relative;
  justify-content: center;
  display: block;
  max-inline-size: none;
  margin-inline: calc(0rem - var(--size-medium));
  --border-color: var(--blue-border);
}
instant-kib * {
  max-inline-size: none;
}